<html>
   

<style>
h2 {
  color: darkblue;
}

label{
	color:darkblue;
	font-size: 20px;
}
font-size: 10px;

</style>
<body onload="document.refresh();">  
 <h2> Welcome to the Signature Verification Application </h2>
<div>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRatm8V1jt-UXGvIiCKoBtawMXFExQRQzY1Ug&usqp=CAU" width="450" height="350" >
</div>
   
<div>
 <br>
<h2> Please upload the form for signature validation<h2>
<form method="POST" autocomplete="off"  enctype="multipart/form-data">
    
	 <input type="file" name="file" accept="image/*" multiple>
	 <br>
	 <br>
	<input type="submit" style="font-face: 'Comic Sans MS'; font-size: larger; color: black; background-color: powderblue; border: 2pt ridge lightgrey" value="  Submit  ">

    
</form>

</div>
</body>  
</html>